@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    padding: 1.2rem;
    font-family: "Inter", sans-serif;
    background-color: hsl(36, 100%, 99%);
}

/* start of header and nav bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.w-logo {
    height: 2rem;
}

#menuButton {
    background-color: hsl(36, 100%, 99%);
    border: none;
    cursor: pointer;
}

header div {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: -99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

header div nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 70vw;
    z-index: 99;
    background-color: hsl(36, 100%, 99%);
}

.nav-div-open {
    opacity: 1;
    z-index: 99;
}

#closeButton {
    background-color: hsl(36, 100%, 99%);
    border: none;
    outline: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

header div nav ul {
    list-style-type: none;
    position: fixed;
    top: 25%;
    left: 37%;
    line-height: 3.5rem;
}

header div nav ul li {
    cursor: pointer;
    color: hsl(240, 100%, 5%);
    font-weight: 500;
    font-size: 1.25rem;
}

header div nav ul li:hover {
    color: hsl(5, 85%, 63%)
}

/* start of main container layout */

.blocks-image-div picture img {
    width: 100%;
    height: auto;
}

.bright-div h1 {
    color: hsl(240, 100%, 5%);
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 3rem;
}

.article-1 p {
    color: hsl(236, 13%, 42%);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.4rem;
}

.article-1 button {
    width: 12rem;
    max-width: 100%;
    height: 2.9rem;
    border-radius: 0;
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: .3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.article-1 button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer
}

.article-2 {
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30rem;
    padding: 1.5rem 1.1rem;
    margin-bottom: 4rem;
}

.article-2 h1 {
    color: hsl(35, 77%, 62%)
}

.article-2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 5rem
}

.article-2 h3 {
    color: white
}

.article-2 h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer
}

.article-2 p {
    color: hsl(233, 8%, 79%);
    line-height: 1.5rem
}

.article-2 span {
    display: block;
    background-color: hsl(233, 8%, 79%);
    width: 100%;
    height: .8px;
    opacity: .5;
}

/* start of lower section */

.lower-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px)
}

.lower-section article {
    display: flex;
    margin-bottom: 2rem
}

.lower-section article img {
    width: 7rem;
}

.lower-section article div {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .2rem;
    max-width: 200px;
}

.lower-section article div h1 {
    color: hsl(233, 8%, 79%);
}

.lower-section article div h3 {
    font-weight: 900;
}

.lower-section article div h3:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer
}

.lower-section article div p {
    line-height: 1.5rem;
    color: hsl(236, 13%, 42%);
    font-weight: 500;
}

/* start of desktop view */

@media only screen and (min-width:1000px) {

    body {
        padding: 3rem 10vw 1rem;
    }

    /* start of header and nav bar  */

    .header {
        margin-bottom: 3rem;
    }

    #menuButton img {
        display: none;
        z-index: -99;
    }

    header div {
        display: flex;
        position: relative;
        background-color: hsl(36, 100%, 99%);
        height: 2rem;
        width: 40%;
        opacity: 1;
        transition: none;
        z-index: 100;
    }

    #closeButton {
        display: none;
    }

    header div nav {
        display: flex;
        position: relative;
        height: 2rem;
        width: 100;
        z-index: 0;
        background-color: none;
    }

    header div nav ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: .9rem;
        align-items: center;
    }

    header div nav ul li {
        cursor: pointer;
        font-weight: 500;
        font-size: .9rem;
        color: hsl(236, 13%, 42%);
    }

    header div nav ul li:hover {
        color: hsl(5, 85%, 63%)
    }

    /* grid container start */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5rem;
        grid-template-areas:
            "image image side"
            "bright paragraph side"
            "btm btm btm"
        ;
        width: auto;
        max-height: 100vh;
        margin-bottom: 10px;
    }

    .blocks-image-div {
        grid-area: image;
        min-width: none;
    }

    .bright-div {
        grid-area: bright;
    }

    .bright-div h1 {
        font-weight: 800;
        font-size: 2.7rem;
        padding-left: .5rem;
        padding-right: 2rem;
        margin: 0;
        line-height: 3rem;
    }

    .article-1 {
        grid-area: paragraph;
        padding: 0;
        margin: 0;
        min-width: none;
        max-width: none;
    }

    .article-1 button {
        width: 9rem;
        height: 2.5rem;
        font-size: .6rem;
        margin-bottom: 0rem;
    }

    .article-2 {
        grid-area: side;
        width: 100%;
        height: 100%;
        margin: 0;
        min-height: 0;
    }

    .article-2 div h3 {
        font-size: 1rem;
    }

    .article-2 div p {
        font-size: .8rem;
    }

    /* start of lower section */

    .lower-section {
        grid-area: btm;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding: 1.5rem 0 0 0;
        margin: 0;
        padding-bottom: 3rem;
    }

    .lower-section article {
        margin: 0;
        padding: 0
    }

    .lower-section h1 {
        font-size: 1.4rem;
    }

    .lower-section h3 {
        font-size: .9rem;
    }

    .lower-section p {
        line-height: 1rem;
        font-size: .7rem;
    }
}

/* make lower section articles align into 1 collumn or very small screen */

@media only screen and (max-width:360px) {
    .lower-section article {
        flex-direction: column;
        align-items: center;
        max-width: 50%;
    }
}
